# Підготовка та Аналіз даних
## Лабораторна робота №4
## Структури для роботи з великими обсягами даних в Python
<b>Мета роботи</b>: отримати навички роботи із структурами для зберігання в Python (python, numpy, pandas, numpy array, dataframe, timeit)
#### ФБ-23 Хоменко Гліб

In [186]:
import pandas as pd
import numpy as np
import time

### Перший рівень (спрощені завдання)

In [166]:
def CreateDF(filepath):
    
    headers = ["Date", "Time", "Global_active_power", "Global_reactive_power", "Voltage", "Global_intensity",
              "Sub_metering_1", "Sub_metering_2", "Sub_metering_3"]
    df = pd.read_csv(filepath, header=1, sep=";", names=headers, low_memory=False, na_values="?")
    df['Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], dayfirst=True)
    df = df.dropna()
    df = df.drop(['Time', 'Date'], axis=1)
    return df
df = CreateDF("household_power_consumption.txt")
df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
0,5.360,0.436,233.63,23.0,0.0,1.0,16.0,2006-12-16 17:25:00
1,5.374,0.498,233.29,23.0,0.0,2.0,17.0,2006-12-16 17:26:00
2,5.388,0.502,233.74,23.0,0.0,1.0,17.0,2006-12-16 17:27:00
3,3.666,0.528,235.68,15.8,0.0,1.0,17.0,2006-12-16 17:28:00
4,3.520,0.522,235.02,15.0,0.0,2.0,17.0,2006-12-16 17:29:00
...,...,...,...,...,...,...,...,...
2075253,0.946,0.000,240.43,4.0,0.0,0.0,0.0,2010-11-26 20:58:00
2075254,0.944,0.000,240.00,4.0,0.0,0.0,0.0,2010-11-26 20:59:00
2075255,0.938,0.000,239.82,3.8,0.0,0.0,0.0,2010-11-26 21:00:00
2075256,0.934,0.000,239.70,3.8,0.0,0.0,0.0,2010-11-26 21:01:00
2075257,0.932,0.000,239.55,3.8,0.0,0.0,0.0,2010-11-26 21:02:00

In [167]:
def CreateNP(filepath):
    # Define data types for each column
    dtypes = [('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'),
              ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'),
              ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')]

    data = np.genfromtxt(filepath, delimiter=';', names=True, dtype=dtypes, encoding=None)
    data = data.transpose()
    nan_mask = np.isnan(data['Sub_metering_1']) | np.isnan(data['Sub_metering_2']) | np.isnan(data['Sub_metering_3'])
    data = data[~nan_mask]
    return data

data = CreateNP("household_power_consumption.txt")
data

array([('16/12/2006', '17:24:00', 4.216, 0.418, 234.84, 18.4, 0., 1., 17.),
       ('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0., 1., 16.),
       ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0., 2., 17.),
       ...,
       ('26/11/2010', '21:00:00', 0.938, 0.   , 239.82,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:01:00', 0.934, 0.   , 239.7 ,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:02:00', 0.932, 0.   , 239.55,  3.8, 0., 0.,  0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

##### Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [189]:
def Active_Power(df):
    active = df[df["Global_active_power"] > 5]
    return active
start_time = time.time()
active = Active_Power(df)
end_time = time.time() - start_time
print(f"Час: {end_time}")
active

Час: 0.005494832992553711

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
0,5.360,0.436,233.63,23.0,0.0,1.0,16.0,2006-12-16 17:25:00
1,5.374,0.498,233.29,23.0,0.0,2.0,17.0,2006-12-16 17:26:00
2,5.388,0.502,233.74,23.0,0.0,1.0,17.0,2006-12-16 17:27:00
10,5.412,0.470,232.78,23.2,0.0,1.0,17.0,2006-12-16 17:35:00
11,5.224,0.478,232.99,22.4,0.0,1.0,16.0,2006-12-16 17:36:00
...,...,...,...,...,...,...,...,...
2069355,5.408,0.150,231.50,23.6,48.0,0.0,0.0,2010-11-22 18:40:00
2069356,5.528,0.144,232.48,24.6,53.0,0.0,0.0,2010-11-22 18:41:00
2071585,5.172,0.050,235.18,22.0,0.0,38.0,17.0,2010-11-24 07:50:00
2071586,5.750,0.000,234.40,24.6,0.0,39.0,17.0,2010-11-24 07:51:00
2072996,5.074,0.240,238.55,21.4,1.0,2.0,18.0,2010-11-25 07:21:00

In [190]:
def Active_Power_np(data):
    mask = data['Global_active_power'] > 5
    active = data[mask]
    return active
start_time = time.time()
activenp = Active_Power_np(data)
end_time = time.time() - start_time
print(f"Час: {end_time}")
activenp

Час: 0.03390979766845703

array([('16/12/2006', '17:25:00', 5.36 , 0.436, 233.63, 23. , 0.,  1., 16.),
       ('16/12/2006', '17:26:00', 5.374, 0.498, 233.29, 23. , 0.,  2., 17.),
       ('16/12/2006', '17:27:00', 5.388, 0.502, 233.74, 23. , 0.,  1., 17.),
       ...,
       ('24/11/2010', '07:50:00', 5.172, 0.05 , 235.18, 22. , 0., 38., 17.),
       ('24/11/2010', '07:51:00', 5.75 , 0.   , 234.4 , 24.6, 0., 39., 17.),
       ('25/11/2010', '07:21:00', 5.074, 0.24 , 238.55, 21.4, 1.,  2., 18.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

##### Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [191]:
def Volt(df):
    volt = df[df["Voltage"] > 235]
    return volt
start_time = time.time()
volt = Volt(df)
end_time = time.time() - start_time
print(f"Час: {end_time}")
volt

Час: 0.08876347541809082

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
3,3.666,0.528,235.68,15.8,0.0,1.0,17.0,2006-12-16 17:28:00
4,3.520,0.522,235.02,15.0,0.0,2.0,17.0,2006-12-16 17:29:00
5,3.702,0.520,235.09,15.8,0.0,1.0,17.0,2006-12-16 17:30:00
6,3.700,0.520,235.22,15.8,0.0,1.0,17.0,2006-12-16 17:31:00
13,4.054,0.422,235.24,17.6,0.0,1.0,17.0,2006-12-16 17:38:00
...,...,...,...,...,...,...,...,...
2075253,0.946,0.000,240.43,4.0,0.0,0.0,0.0,2010-11-26 20:58:00
2075254,0.944,0.000,240.00,4.0,0.0,0.0,0.0,2010-11-26 20:59:00
2075255,0.938,0.000,239.82,3.8,0.0,0.0,0.0,2010-11-26 21:00:00
2075256,0.934,0.000,239.70,3.8,0.0,0.0,0.0,2010-11-26 21:01:00
2075257,0.932,0.000,239.55,3.8,0.0,0.0,0.0,2010-11-26 21:02:00

In [192]:
def Voltnp(data):
    mask = data["Voltage"] > 235
    volt = data[mask]
    return volt
start_time = time.time()
volt = Voltnp(data)
end_time = time.time() - start_time
print(f"Час: {end_time}")
volt

Час: 0.1319730281829834

array([('16/12/2006', '17:28:00', 3.666, 0.528, 235.68, 15.8, 0., 1., 17.),
       ('16/12/2006', '17:29:00', 3.52 , 0.522, 235.02, 15. , 0., 2., 17.),
       ('16/12/2006', '17:30:00', 3.702, 0.52 , 235.09, 15.8, 0., 1., 17.),
       ...,
       ('26/11/2010', '21:00:00', 0.938, 0.   , 239.82,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:01:00', 0.934, 0.   , 239.7 ,  3.8, 0., 0.,  0.),
       ('26/11/2010', '21:02:00', 0.932, 0.   , 239.55,  3.8, 0., 0.,  0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

#### Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [193]:
def Amper(df):
    amper = df[df["Global_intensity"].between(19,20) & df["Sub_metering_2"] > df["Sub_metering_3"]]
    return amper
start_time = time.time()
amper = Amper(df)
end_time = time.time() - start_time
print(f"Час: {end_time}")
amper

Час: 0.020358800888061523

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
459,4.582,0.258,238.08,19.6,0.0,13.0,0.0,2006-12-17 01:04:00
463,4.618,0.104,239.61,19.6,0.0,27.0,0.0,2006-12-17 01:08:00
474,4.636,0.140,237.37,19.4,0.0,36.0,0.0,2006-12-17 01:19:00
475,4.634,0.152,237.17,19.4,0.0,35.0,0.0,2006-12-17 01:20:00
476,4.652,0.142,237.92,19.4,0.0,36.0,0.0,2006-12-17 01:21:00
...,...,...,...,...,...,...,...,...
2043446,4.478,0.252,237.20,19.0,47.0,2.0,0.0,2010-11-04 18:51:00
2043593,4.576,0.348,240.99,19.0,46.0,1.0,0.0,2010-11-04 21:18:00
2053330,4.694,0.000,234.69,20.0,37.0,24.0,0.0,2010-11-11 15:35:00
2069428,4.550,0.254,232.52,19.6,36.0,1.0,0.0,2010-11-22 19:53:00
2069429,4.524,0.246,233.04,19.4,35.0,2.0,0.0,2010-11-22 19:54:00

In [194]:
def Ampernp(data):
    cond1 = np.logical_and(data['Global_intensity'] >= 19, data['Global_intensity'] <= 20)
    cond2 = data['Sub_metering_2'] > data['Sub_metering_3']
    filtered_data = data[np.logical_and(cond1, cond2)]

    return filtered_data
start_time = time.time()
amper = Ampernp(data)
end_time = time.time() - start_time
print(f"Час: {end_time}")
amper

Час: 0.0638279914855957

array([('16/12/2006', '18:09:00', 4.464, 0.136, 234.66, 19. , 0., 37., 16.),
       ('17/12/2006', '01:04:00', 4.582, 0.258, 238.08, 19.6, 0., 13.,  0.),
       ('17/12/2006', '01:08:00', 4.618, 0.104, 239.61, 19.6, 0., 27.,  0.),
       ...,
       ('24/11/2010', '07:55:00', 4.602, 0.   , 237.08, 19.4, 0., 40., 17.),
       ('24/11/2010', '07:56:00', 4.536, 0.   , 237.03, 19. , 0., 39., 17.),
       ('24/11/2010', '07:57:00', 4.626, 0.   , 236.78, 19.4, 0., 39., 17.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

#### Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії.

In [195]:
def randomhouse(df):
    random_sample = df.sample(n=500000, replace=False)
    mean_sub_metering_1 = random_sample['Sub_metering_1'].mean()
    mean_sub_metering_2 = random_sample['Sub_metering_2'].mean()
    mean_sub_metering_3 = random_sample['Sub_metering_3'].mean()
    print("Середнє значення Sub_metering_1:", mean_sub_metering_1)
    print("Середнє значення Sub_metering_2:", mean_sub_metering_2)
    print("Середнє значення Sub_metering_3:", mean_sub_metering_3)
    return random_sample
start_time = time.time()
house = randomhouse(df)
end_time = time.time() - start_time
print(f"Час: {end_time}")
house

Середнє значення Sub_metering_1: 1.124994
Середнє значення Sub_metering_2: 1.287024
Середнє значення Sub_metering_3: 6.453204
Час: 0.13167190551757812

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
574481,0.364,0.192,240.00,1.6,0.0,1.0,0.0,2008-01-19 16:06:00
1111331,0.428,0.084,243.77,2.0,0.0,0.0,0.0,2009-01-26 11:36:00
1087449,1.526,0.074,243.65,6.2,1.0,0.0,0.0,2009-01-09 21:34:00
276847,0.764,0.000,242.32,3.2,2.0,0.0,0.0,2007-06-26 23:32:00
4785,0.282,0.096,243.46,1.2,0.0,0.0,0.0,2006-12-20 01:10:00
...,...,...,...,...,...,...,...,...
709136,0.422,0.248,242.77,2.0,0.0,1.0,1.0,2008-04-22 04:21:00
263743,2.524,0.000,238.91,10.4,2.0,0.0,18.0,2007-06-17 21:08:00
372024,0.148,0.050,240.14,0.6,0.0,0.0,0.0,2007-09-01 01:49:00
1367903,0.132,0.000,243.16,0.6,0.0,0.0,1.0,2009-07-23 15:48:00
2000726,1.418,0.062,241.76,5.8,0.0,0.0,19.0,2010-10-06 02:51:00

In [196]:
def randomhousenp(data):
    sampled_indices_np = np.random.choice(len(data), 500000, replace=False)
    sampled_np = data[sampled_indices_np]
    mean_sub_metering_1 = sampled_np['Sub_metering_1'].mean()
    mean_sub_metering_2 = sampled_np['Sub_metering_2'].mean()
    mean_sub_metering_3 = sampled_np['Sub_metering_3'].mean()
    print("Середнє значення Sub_metering_1:", mean_sub_metering_1)
    print("Середнє значення Sub_metering_2:", mean_sub_metering_2)
    print("Середнє значення Sub_metering_3:", mean_sub_metering_3)
    return sampled_np
start_time = time.time()
samples = randomhousenp(data)
end_time = time.time() - start_time
print(f"Час: {end_time}")
samples

Середнє значення Sub_metering_1: 1.116948
Середнє значення Sub_metering_2: 1.2909
Середнє значення Sub_metering_3: 6.464252
Час: 0.18650269508361816

array([('10/9/2007', '16:37:00', 0.196, 0.1  , 241.9 , 0.8, 0., 0., 0.),
       ('6/8/2008', '04:20:00', 0.326, 0.362, 237.94, 2. , 0., 1., 1.),
       ('20/12/2006', '18:11:00', 1.054, 0.166, 242.46, 4.4, 0., 2., 0.),
       ...,
       ('31/1/2009', '15:01:00', 0.516, 0.188, 246.28, 2.4, 0., 0., 0.),
       ('8/8/2007', '15:38:00', 0.148, 0.   , 237.14, 0.6, 0., 0., 0.),
       ('5/11/2007', '16:48:00', 0.232, 0.   , 240.87, 1. , 0., 0., 0.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])

#### Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [197]:
def Evening(df):
    selected_households = df[(df['Datetime'].dt.hour > 18) & (df['Global_active_power'] > 6)]
    group2 = selected_households[(selected_households["Sub_metering_1"] < selected_households["Sub_metering_2"]) 
                                 & (selected_households["Sub_metering_3"] < selected_households["Sub_metering_2"])]
    first_half_len = len(group2) // 2
    
    result_first_half = group2.iloc[::3, :] 
    result_second_half = group2.iloc[first_half_len::4, :]
    final_result = pd.concat([result_first_half, result_second_half])
    return final_result
start_time = time.time()
evening = Evening(df)
end_time = time.time() - start_time
print(f"Час: {end_time}")
evening

Час: 0.13118290901184082

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
3006,6.158,0.442,229.08,27.0,0.0,36.0,0.0,2006-12-18 19:31:00
17496,7.062,0.270,235.76,30.2,2.0,65.0,17.0,2006-12-28 21:01:00
17499,7.376,0.238,234.67,31.4,1.0,72.0,17.0,2006-12-28 21:04:00
17502,7.248,0.000,235.34,30.8,1.0,72.0,17.0,2006-12-28 21:07:00
17505,7.160,0.000,235.49,30.4,1.0,73.0,18.0,2006-12-28 21:10:00
...,...,...,...,...,...,...,...,...
1677877,6.502,0.072,233.81,27.8,0.0,73.0,18.0,2010-02-23 22:02:00
1775624,6.702,0.048,232.67,29.2,13.0,71.0,18.0,2010-05-02 19:09:00
1775628,6.398,0.054,234.28,27.4,27.0,73.0,0.0,2010-05-02 19:13:00
1775632,6.412,0.184,232.29,27.6,26.0,72.0,1.0,2010-05-02 19:17:00
1810191,6.508,0.212,230.71,28.2,0.0,69.0,11.0,2010-05-26 19:16:00

In [198]:
def Eveningnp(data):
    # Extract the hour part from the "Time" column
    hours = np.array([int(time.split(':')[0]) for time in data["Time"]])
    filtered_data = data[(hours > 18) & (data['Global_active_power'] > 6)]
    filtered_data2 = filtered_data[
        (filtered_data["Sub_metering_1"] < filtered_data["Sub_metering_2"]) &
        (filtered_data["Sub_metering_3"] < filtered_data["Sub_metering_2"])]
    
    first_half_len = filtered_data2[:len(filtered_data2) // 2]
    second_half_len = filtered_data2[len(filtered_data2) // 2:]
    
    final_result = np.concatenate([first_half_len[::3], second_half_len[::4]])
    return final_result
start_time = time.time()
eve = Eveningnp(data)
end_time = time.time() - start_time
print(f"Час: {end_time}")
eve

Час: 1.363166332244873

array([('18/12/2006', '19:31:00',  6.158, 0.442, 229.08, 27. ,  0., 36.,  0.),
       ('28/12/2006', '21:01:00',  7.062, 0.27 , 235.76, 30.2,  2., 65., 17.),
       ('28/12/2006', '21:04:00',  7.376, 0.238, 234.67, 31.4,  1., 72., 17.),
       ('28/12/2006', '21:07:00',  7.248, 0.   , 235.34, 30.8,  1., 72., 17.),
       ('28/12/2006', '21:10:00',  7.16 , 0.   , 235.49, 30.4,  1., 73., 18.),
       ('28/12/2006', '21:13:00',  9.132, 0.084, 231.27, 39.4, 36., 71., 16.),
       ('28/12/2006', '21:16:00',  8.046, 0.114, 231.77, 35. , 36., 52., 16.),
       ('28/12/2006', '21:21:00',  7.124, 0.148, 234.33, 30.4, 37., 38., 17.),
       ('29/12/2006', '21:18:00',  6.15 , 0.118, 230.77, 26.6,  0., 70.,  0.),
       ('29/12/2006', '21:21:00',  6.412, 0.136, 230.49, 27.8,  0., 70.,  0.),
       ('29/12/2006', '21:24:00',  6.15 , 0.   , 230.71, 26.6,  0., 70.,  0.),
       ('29/12/2006', '21:28:00',  6.692, 0.   , 228.77, 29.2,  0., 69., 17.),
       ('29/12/2006', '22:27:00',  6.976, 0.376, 235.12, 29.6,  0., 74., 17.),
       ('29/12/2006', '22:30:00',  6.638, 0.262, 234.23, 28.2,  0., 73., 17.),
       ('29/12/2006', '22:33:00',  6.3  , 0.282, 235.02, 26.8,  0., 73., 17.),
       ('7/1/2007', '21:21:00',  6.014, 0.332, 235.53, 25.8, 28., 36., 17.),
       ('9/1/2007', '20:51:00',  7.996, 0.1  , 231.55, 34.4,  0., 70., 16.),
       ('9/1/2007', '20:54:00',  7.732, 0.098, 231.55, 33.4,  0., 70., 17.),
       ('9/1/2007', '20:57:00',  8.67 , 0.114, 232.89, 37.2,  0., 71., 16.),
       ('9/1/2007', '21:00:00',  7.54 , 0.152, 233.88, 32.2,  0., 72., 16.),
       ('9/1/2007', '21:03:00',  6.726, 0.154, 234.28, 29. ,  0., 64., 17.),
       ('20/1/2007', '19:17:00',  6.21 , 0.432, 228.85, 27.2,  0., 35., 16.),
       ('20/1/2007', '19:20:00',  7.202, 0.44 , 228.37, 32. ,  0., 35., 16.),
       ('20/1/2007', '19:23:00',  7.602, 0.374, 228.07, 33.4,  0., 21., 16.),
       ('20/1/2007', '19:26:00',  6.198, 0.384, 232.22, 26.6,  0., 36., 16.),
       ('20/1/2007', '19:35:00',  7.332, 0.116, 230.56, 32.2,  0., 26., 17.),
       ('21/1/2007', '19:24:00',  7.48 , 0.18 , 225.52, 33.2,  0., 67., 15.),
       ('21/1/2007', '19:27:00',  7.552, 0.25 , 225.17, 33.4,  0., 66., 16.),
       ('21/1/2007', '19:30:00',  7.532, 0.416, 226.97, 33.4,  0., 68., 16.),
       ('21/1/2007', '19:33:00',  7.374, 0.326, 226.03, 33. ,  1., 59., 16.),
       ('22/1/2007', '20:23:00',  7.502, 0.19 , 231.81, 32.4,  0., 65., 16.),
       ('22/1/2007', '20:26:00',  7.722, 0.22 , 233.22, 33. ,  0., 71., 17.),
       ('22/1/2007', '21:06:00',  6.184, 0.246, 234.93, 26.4,  0., 69.,  0.),
       ('27/1/2007', '23:56:00',  6.142, 0.   , 239.53, 25.6,  0., 37., 18.),
       ('3/2/2007', '19:03:00',  6.844, 0.57 , 229.27, 30.2, 24., 34., 16.),
       ('3/2/2007', '19:41:00',  7.648, 0.592, 229.85, 33.2, 35., 36., 16.),
       ('15/2/2007', '19:37:00',  6.906, 0.608, 233.8 , 29.6,  0., 37., 17.),
       ('15/2/2007', '19:45:00',  6.688, 0.432, 233.  , 28.8,  0., 36., 17.),
       ('19/2/2007', '19:52:00',  6.04 , 0.28 , 230.41, 26.4,  0., 34., 16.),
       ('20/2/2007', '20:28:00',  8.374, 0.082, 234.12, 35.8,  0., 72., 17.),
       ('20/2/2007', '20:31:00',  7.204, 0.09 , 231.78, 31. ,  0., 71., 16.),
       ('20/2/2007', '20:34:00',  6.91 , 0.146, 230.68, 30. ,  0., 71., 16.),
       ('20/2/2007', '20:37:00',  7.13 , 0.11 , 231.74, 30.8,  0., 72., 16.),
       ('21/2/2007', '19:45:00',  6.14 , 0.304, 232.72, 26.6,  0., 26.,  0.),
       ('22/2/2007', '19:32:00',  6.068, 0.2  , 231.3 , 26.2,  0., 35., 16.),
       ('22/2/2007', '19:35:00',  6.02 , 0.078, 233.27, 25.8,  0., 36., 17.),
       ('22/2/2007', '21:05:00',  9.16 , 0.   , 226.94, 40.2, 35., 68., 16.),
       ('22/2/2007', '21:08:00',  9.374, 0.   , 226.47, 41.4, 35., 68., 15.),
       ('22/2/2007', '21:11:00',  9.248, 0.   , 224.48, 41.2, 34., 66., 15.),
       ('22/2/2007', '21:14:00',  9.338, 0.   , 223.49, 41.8, 33., 66., 15.),
       ('22/2/2007', '21:35:00',  6.67 , 0.2  , 230.71, 28.8,  1., 39., 16.),
       ('22/2/2007', '21:38:00',  6.55 , 0.172, 229.38, 28.4,  2., 34., 16.),
       ('22/2/2007', '21:45:00',  6.288, 0.114, 230.22, 27.2,  1., 30., 16.),
       ('4/3/2007', '19:33:00', 10.65 , 0.5  , 229.97, 46.4, 36., 70., 17.),
       ('4/3/2007', '19:36:00',  6.844, 0.414, 232.6 , 29.4,  1., 70., 17.),
       ('4/3/2007', '19:39:00',  6.6  , 0.36 , 234.37, 28.2,  1., 72., 17.),
       ('4/3/2007', '19:42:00',  6.378, 0.15 , 233.2 , 27.2,  0., 71., 17.),
       ('4/3/2007', '19:45:00',  6.372, 0.142, 233.3 , 27.2,  0., 71., 17.),
       ('4/3/2007', '21:29:00',  6.854, 0.   , 233.34, 29.2,  0., 71., 16.),
       ('4/3/2007', '21:32:00',  6.918, 0.   , 233.6 , 29.6,  0., 71., 16.),
       ('4/3/2007', '21:36:00',  6.27 , 0.   , 234.82, 27. ,  0., 62., 17.),
       ('5/3/2007', '19:49:00',  6.04 , 0.34 , 232.84, 26. , 36., 37.,  0.),
       ('8/3/2007', '19:09:00',  6.146, 0.38 , 231.98, 26.4, 36., 37.,  0.),
       ('19/3/2007', '21:04:00',  6.112, 0.15 , 235.69, 26.2, 20., 35., 17.),
       ('20/3/2007', '21:34:00',  6.338, 0.23 , 234.3 , 27. ,  1., 36., 17.),
       ('20/3/2007', '21:37:00',  6.054, 0.24 , 233.91, 25.8,  2., 35., 17.),
       ('20/3/2007', '21:43:00',  6.176, 0.364, 231.84, 26.6,  1., 36., 16.),
       ('20/3/2007', '21:46:00',  6.142, 0.262, 232.82, 26.4,  2., 36., 17.),
       ('20/3/2007', '21:53:00',  6.55 , 0.232, 233.95, 28. ,  1., 37., 17.),
       ('31/3/2007', '20:01:00',  6.142, 0.528, 236.21, 26. ,  0., 36., 17.),
       ('31/3/2007', '20:05:00',  6.21 , 0.526, 235.8 , 26.4,  0., 37., 17.),
       ('1/4/2007', '21:55:00',  7.752, 0.292, 233.37, 33.2,  0., 70., 17.),
       ('1/4/2007', '21:58:00',  8.16 , 0.292, 232.51, 35. ,  1., 70., 17.),
       ('1/4/2007', '22:01:00',  7.044, 0.288, 233.07, 30.6,  1., 53., 17.),
       ('1/4/2007', '22:04:00',  7.336, 0.292, 233.23, 31.6,  1., 66., 17.),
       ('2/4/2007', '21:58:00',  6.138, 0.   , 233.88, 26.4,  1., 36., 17.),
       ('3/4/2007', '19:25:00',  7.794, 0.3  , 228.96, 34. , 36., 37., 16.),
       ('3/4/2007', '19:28:00',  6.224, 0.31 , 231.44, 27. , 10., 37., 17.),
       ('3/4/2007', '19:34:00',  6.552, 0.314, 232.73, 28.4, 14., 37., 16.),
       ('5/4/2007', '20:46:00',  6.164, 0.242, 234.26, 26.4,  1., 37., 17.),
       ('16/4/2007', '21:28:00',  6.026, 0.22 , 236.4 , 25.4,  1., 40., 17.),
       ('3/6/2007', '21:56:00',  6.164, 0.206, 229.11, 26.8,  0., 69.,  0.),
       ('3/6/2007', '21:59:00',  6.17 , 0.192, 229.19, 26.8,  0., 70.,  0.),
       ('3/6/2007', '22:02:00',  6.366, 0.242, 228.79, 27.8,  0., 69.,  0.),
       ('25/6/2007', '21:25:00',  6.254, 0.108, 234.64, 26.6,  0., 72., 17.),
       ('25/6/2007', '21:28:00',  6.104, 0.074, 233.61, 26. ,  0., 72., 17.),
       ('26/6/2007', '22:26:00',  7.29 , 0.132, 233.21, 31.2, 36., 38., 17.),
       ('28/6/2007', '19:25:00',  6.2  , 0.498, 232.01, 27. ,  0., 59., 17.),
       ('2/7/2007', '20:35:00',  6.39 , 0.436, 235.11, 27.2,  0., 70.,  0.),
       ('3/7/2007', '22:17:00',  6.182, 0.198, 232.5 , 27. ,  0., 62., 17.),
       ('6/7/2007', '21:14:00',  6.422, 0.472, 236.96, 27. ,  1., 74., 17.),
       ('6/7/2007', '21:18:00',  7.24 , 0.448, 235.04, 31. ,  1., 68., 17.),
       ('6/7/2007', '21:32:00',  6.956, 0.182, 236.82, 29.4, 37., 51., 18.),
       ('12/8/2007', '23:32:00',  7.288, 0.23 , 226.82, 32.2, 28., 33., 16.),
       ('24/8/2007', '20:49:00',  8.366, 0.724, 232.79, 36. , 36., 38., 17.),
       ('12/9/2007', '22:02:00',  6.09 , 0.25 , 234.38, 26. ,  0., 68., 17.),
       ('13/9/2007', '21:40:00',  6.092, 0.068, 232.09, 26.2,  1., 31.,  0.),
       ('26/9/2007', '21:23:00',  7.03 , 0.332, 231.8 , 30.4,  0., 35., 16.),
       ('26/9/2007', '21:26:00',  6.014, 0.378, 233.55, 25.8,  0., 36., 16.),
       ('13/10/2007', '19:53:00',  6.148, 0.352, 230.53, 26.6,  0., 34., 16.),
       ('13/10/2007', '19:56:00',  6.226, 0.366, 231.94, 26.8,  0., 35., 16.),
       ('13/10/2007', '19:59:00',  6.402, 0.244, 231.54, 27.6,  0., 34., 17.),
       ('13/10/2007', '20:02:00',  7.78 , 0.256, 230.81, 34.2,  0., 34., 16.),
       ('13/10/2007', '20:05:00',  6.654, 0.246, 231.52, 29. ,  0., 35., 17.),
       ('13/10/2007', '20:10:00',  8.204, 0.13 , 230.41, 35.8,  0., 34., 16.),
       ('13/10/2007', '20:15:00',  6.212, 0.108, 232.83, 26.6,  0., 35., 17.),
       ('13/10/2007', '20:33:00',  6.158, 0.472, 233.06, 26.6,  0., 36., 16.),
       ('12/11/2007', '20:28:00',  6.166, 0.464, 233.69, 26.6,  0., 29., 17.),
       ('12/11/2007', '20:31:00',  8.026, 0.384, 231.96, 34.6,  0., 72., 17.),
       ('12/11/2007', '20:34:00',  7.726, 0.362, 231.68, 33.2,  0., 72., 16.),
       ('12/11/2007', '20:37:00',  7.716, 0.376, 232.26, 33.2,  0., 72., 17.),
       ('12/11/2007', '20:40:00',  6.914, 0.25 , 234.06, 29.8,  0., 62., 17.),
       ('4/12/2007', '21:24:00',  6.33 , 0.436, 237.37, 26.8,  0., 36., 18.),
       ('4/12/2007', '21:27:00',  6.524, 0.376, 235.58, 27.8,  0., 36., 17.),
       ('4/12/2007', '21:47:00',  6.018, 0.   , 238.03, 25.2,  0., 36., 17.),
       ('8/12/2007', '20:24:00',  6.126, 0.292, 234.03, 26.2,  0., 35., 17.),
       ('8/12/2007', '20:29:00',  6.158, 0.344, 234.28, 26.2,  0., 35., 17.),
       ('8/12/2007', '20:34:00',  6.032, 0.394, 234.94, 25.6,  0., 37., 16.),
       ('9/12/2007', '19:04:00',  6.238, 0.18 , 231.14, 27. ,  0., 34., 16.),
       ('9/12/2007', '19:07:00',  6.268, 0.196, 231.48, 27. ,  0., 34., 16.),
       ('9/12/2007', '19:10:00',  6.172, 0.174, 230.13, 26.8,  0., 34., 16.),
       ('9/12/2007', '19:13:00',  6.25 , 0.272, 229.66, 27.2,  0., 34., 16.),
       ('9/12/2007', '19:16:00',  6.268, 0.292, 229.97, 27.2,  0., 34., 17.),
       ('9/12/2007', '19:19:00',  6.272, 0.31 , 229.89, 27.2,  0., 34., 16.),
       ('9/12/2007', '19:24:00',  6.252, 0.296, 230.33, 27.2,  0., 34., 17.),
       ('13/12/2007', '20:49:00',  6.1  , 0.144, 235.57, 25.8,  0., 36., 17.),
       ('22/12/2007', '20:50:00',  6.226, 0.382, 233.35, 26.8,  1., 35.,  0.),
       ('22/12/2007', '20:54:00',  6.988, 0.372, 234.78, 30. , 11., 36.,  0.),
       ('22/12/2007', '21:00:00',  7.362, 0.5  , 234.04, 31.6,  1., 34., 18.),
       ('22/12/2007', '21:04:00',  6.752, 0.414, 235.3 , 28.8,  0., 24., 17.),
       ('23/12/2007', '19:05:00',  6.528, 0.15 , 230.72, 28.4,  0., 62.,  0.),
       ('23/12/2007', '19:08:00',  6.812, 0.244, 231.01, 29.4,  0., 70.,  0.),
       ('23/12/2007', '19:11:00',  6.736, 0.26 , 231.57, 29. ,  0., 71.,  0.),
       ('23/12/2007', '19:29:00',  9.686, 0.41 , 231.01, 42. , 36., 64., 17.),
       ('23/12/2007', '19:37:00',  6.024, 0.626, 233.53, 25.8,  1., 37., 17.),
       ('23/12/2007', '19:44:00',  8.116, 0.432, 232.84, 34.8, 37., 38., 16.),
       ('23/12/2007', '19:50:00',  7.006, 0.432, 233.62, 30.4, 22., 32., 17.),
       ('27/12/2007', '19:39:00',  6.984, 0.37 , 233.02, 30.4, 21., 36., 17.),
       ('2/2/2008', '19:17:00',  6.834, 0.43 , 230.82, 29.8, 26., 34., 17.),
       ('2/2/2008', '19:29:00',  6.22 , 0.568, 232.31, 26.8,  1., 36., 16.),
       ('2/2/2008', '19:38:00',  6.152, 0.588, 232.42, 26.6,  1., 36., 16.),
       ('2/2/2008', '19:44:00',  6.052, 0.56 , 230.1 , 26.4,  1., 35., 16.),
       ('2/2/2008', '19:50:00',  6.522, 0.48 , 232.6 , 28. ,  1., 36., 17.),
       ('20/2/2008', '20:00:00',  6.328, 0.26 , 236.87, 27.4, 21., 36.,  0.),
       ('5/3/2008', '21:34:00',  6.114, 0.   , 234.58, 26.2,  1., 27., 17.),
       ('5/3/2008', '21:38:00',  6.58 , 0.092, 233.98, 28. ,  2., 36., 17.),
       ('5/3/2008', '22:13:00',  6.204, 0.232, 234.29, 26.4,  1., 37., 17.),
       ('23/3/2008', '20:22:00',  6.246, 0.216, 234.55, 26.8, 14., 37., 17.),
       ('23/3/2008', '20:27:00',  7.222, 0.208, 233.36, 30.8,  0., 73., 16.),
       ('23/3/2008', '20:31:00',  6.958, 0.188, 233.62, 29.8,  0., 73., 17.),
       ('23/3/2008', '20:35:00',  6.692, 0.188, 233.15, 28.6,  0., 72., 17.),
       ('20/4/2008', '21:01:00',  8.084, 0.288, 232.56, 34.6,  1., 71., 18.),
       ('20/4/2008', '21:05:00',  7.654, 0.328, 231.89, 33. ,  1., 72., 17.),
       ('20/4/2008', '21:09:00',  7.13 , 0.34 , 232.47, 31. ,  1., 44., 17.),
       ('20/4/2008', '21:13:00',  6.228, 0.22 , 232.23, 26.8,  1., 37., 18.),
       ('20/4/2008', '21:40:00',  6.4  , 0.126, 232.68, 27.4, 35., 36., 17.),
       ('18/5/2008', '20:33:00',  7.496, 0.252, 234.34, 32. ,  1., 72., 28.),
       ('18/5/2008', '20:40:00',  7.004, 0.   , 234.17, 29.8, 36., 37., 18.),
       ('8/6/2008', '21:41:00',  6.878, 0.158, 235.67, 29.2,  0., 73., 17.),
       ('8/6/2008', '21:45:00',  7.204, 0.176, 234.04, 30.8,  0., 72., 17.),
       ('8/6/2008', '21:49:00',  6.838, 0.05 , 235.1 , 29. ,  0., 73., 18.),
       ('3/7/2008', '21:38:00',  6.33 , 0.   , 234.3 , 27. ,  1., 71., 18.),
       ('3/7/2008', '21:42:00',  7.126, 0.   , 233.49, 30.8, 27., 63., 18.),
       ('16/7/2008', '21:01:00',  6.26 , 0.336, 236.12, 26.4,  0., 74., 18.),
       ('16/7/2008', '21:05:00',  6.752, 0.322, 235.12, 28.8,  0., 74., 17.),
       ('22/9/2008', '20:17:00',  6.612, 0.196, 231.05, 28.6,  1., 69., 17.),
       ('22/9/2008', '20:21:00',  6.706, 0.108, 233.99, 28.6,  1., 70., 17.),
       ('12/10/2008', '19:28:00',  6.56 , 0.35 , 232.89, 28.4, 21., 33., 18.),
       ('12/10/2008', '19:34:00',  6.202, 0.38 , 232.95, 26.8,  0., 46., 17.),
       ('12/10/2008', '19:38:00',  6.944, 0.342, 232.4 , 29.8,  1., 72., 18.),
       ('12/10/2008', '20:16:00',  7.178, 0.176, 230.31, 31.4,  0., 61., 17.),
       ('12/10/2008', '20:20:00',  7.43 , 0.088, 230.62, 32.2,  0., 70., 17.),
       ('12/10/2008', '20:24:00',  6.85 , 0.   , 232.49, 29.4,  0., 58., 17.),
       ('20/10/2008', '20:02:00',  6.124, 0.054, 234.09, 26.2,  0., 37., 18.),
       ('4/11/2008', '20:43:00',  7.602, 0.368, 231.11, 32.8,  0., 71., 16.),
       ('4/11/2008', '20:47:00',  7.482, 0.408, 233.3 , 32. ,  0., 73., 16.),
       ('4/11/2008', '20:51:00',  7.148, 0.234, 232.39, 30.6,  0., 72., 16.),
       ('4/11/2008', '21:33:00',  6.88 , 0.242, 235.34, 29.2,  0., 72., 17.),
       ('4/11/2008', '21:37:00',  6.882, 0.24 , 235.78, 29.2,  0., 72., 17.),
       ('4/11/2008', '21:41:00',  6.316, 0.194, 236.09, 26.6,  0., 72., 17.),
       ('22/11/2008', '21:49:00',  7.266, 0.058, 229.68, 31.6, 35., 36., 16.),
       ('23/11/2008', '20:22:00',  7.044, 0.292, 232.68, 30.4,  2., 33., 17.),
       ('23/11/2008', '20:26:00',  7.174, 0.184, 232.21, 30.8,  1., 36., 17.),
       ('23/11/2008', '20:30:00',  7.102, 0.172, 230.7 , 30.8,  1., 35., 16.),
       ('23/11/2008', '20:34:00',  6.914, 0.138, 232.12, 29.8,  2., 35., 17.),
       ('23/11/2008', '20:38:00',  8.048, 0.102, 233.53, 34.6, 26., 36., 17.),
       ('23/11/2008', '21:00:00',  6.106, 0.252, 234.91, 26.2,  1., 26., 17.),
       ('30/11/2008', '20:11:00',  7.454, 0.   , 232.81, 32. ,  1., 71., 17.),
       ('30/11/2008', '20:15:00',  8.08 , 0.082, 233.33, 34.6,  1., 71., 16.),
       ('30/11/2008', '20:19:00', 10.348, 0.084, 231.6 , 44.6, 36., 71., 16.),
       ('9/12/2008', '19:50:00',  6.116, 0.308, 235.43, 26. , 34., 36.,  0.),
       ('1/1/2009', '20:48:00',  6.122, 0.162, 238.41, 25.6,  0., 74.,  0.),
       ('10/1/2009', '19:49:00',  6.094, 0.174, 234.65, 26.2,  1., 59., 17.),
       ('10/1/2009', '19:53:00',  6.72 , 0.154, 233.98, 28.6,  0., 72., 17.),
       ('10/1/2009', '19:57:00',  8.78 , 0.062, 232.65, 37.6, 37., 71., 17.),
       ('10/1/2009', '20:01:00',  8.702, 0.06 , 232.33, 37.4, 36., 70., 17.),
       ('10/1/2009', '20:05:00',  6.182, 0.064, 235.72, 26.4, 37., 44., 17.),
       ('16/1/2009', '20:14:00',  6.404, 0.242, 238.64, 27.2, 13., 36., 18.),
       ('16/1/2009', '20:34:00',  6.284, 0.662, 237.67, 26.8,  8., 37., 18.),
       ('11/2/2009', '20:49:00',  6.52 , 0.232, 234.45, 28. ,  0., 24.,  0.),
       ('22/2/2009', '20:07:00',  6.916, 0.098, 236.78, 29.2,  0., 73., 17.),
       ('22/2/2009', '20:11:00',  6.694, 0.078, 237.79, 28. ,  0., 73., 18.),
       ('22/2/2009', '20:15:00',  6.738, 0.29 , 237.59, 28.4,  0., 75., 17.),
       ('22/2/2009', '21:02:00',  6.698, 0.406, 236.93, 28.2,  1., 73.,  0.),
       ('22/2/2009', '21:06:00',  6.914, 0.528, 239.2 , 29. ,  1., 74.,  0.),
       ('22/2/2009', '21:11:00',  6.12 , 0.314, 235.58, 26. ,  1., 66.,  0.),
       ('22/2/2009', '21:16:00',  7.306, 0.294, 233.69, 31.4, 37., 49.,  0.),
       ('23/2/2009', '22:05:00',  7.006, 0.266, 232.89, 30. ,  1., 70., 16.),
       ('23/2/2009', '22:10:00',  7.178, 0.218, 235.12, 30.4,  1., 71., 17.),
       ('17/3/2009', '20:24:00',  7.864, 0.   , 237.03, 33.2,  0., 72., 17.),
       ('17/3/2009', '20:28:00',  6.734, 0.086, 237.95, 28.4,  0., 66., 17.),
       ('17/3/2009', '20:32:00',  6.582, 0.   , 237.33, 27.8,  0., 63., 17.),
       ('17/3/2009', '20:38:00',  6.224, 0.   , 235.89, 26.4,  0., 57., 17.),
       ('31/3/2009', '20:34:00',  6.682, 0.148, 232.77, 28.6,  0., 70., 17.),
       ('31/3/2009', '20:38:00',  6.444, 0.   , 233.25, 27.6,  0., 71., 17.),
       ('31/3/2009', '20:42:00',  6.158, 0.   , 236.02, 26.2,  0., 67., 17.),
       ('17/4/2009', '20:41:00',  6.614, 0.228, 236.25, 28.4,  0., 55., 18.),
       ('17/4/2009', '20:45:00',  6.752, 0.166, 237.29, 28.4,  0., 73., 18.),
       ('17/4/2009', '20:49:00',  6.998, 0.148, 236.1 , 29.6,  0., 72., 18.),
       ('17/4/2009', '20:54:00',  6.156, 0.054, 234.94, 26.4,  0., 58., 17.),
       ('14/5/2009', '20:50:00',  7.396, 0.056, 232.5 , 31.8,  0., 67., 17.),
       ('14/5/2009', '20:54:00',  6.502, 0.   , 235.88, 27.4,  0., 73., 18.),
       ('14/5/2009', '20:58:00',  6.7  , 0.1  , 236.06, 28.4,  0., 72., 17.),
       ('3/11/2009', '20:20:00',  6.164, 0.292, 232.03, 26.8, 14., 35., 17.),
       ('24/11/2009', '19:31:00',  7.65 , 0.186, 233.17, 32.8,  0., 70., 17.),
       ('24/11/2009', '19:35:00',  9.714, 0.358, 231.41, 42. , 36., 69., 18.),
       ('24/11/2009', '19:39:00',  9.708, 0.372, 231.37, 42. , 37., 69., 17.),
       ('24/11/2009', '19:45:00',  6.294, 0.402, 235.17, 27. , 13., 36., 18.),
       ('30/12/2009', '19:28:00',  6.092, 0.462, 236.31, 25.8,  0., 73.,  0.),
       ('30/12/2009', '19:32:00',  6.28 , 0.462, 237.47, 26.4,  0., 73.,  1.),
       ('30/12/2009', '19:36:00',  6.682, 0.41 , 237.84, 28. ,  0., 73.,  0.),
       ('30/12/2009', '20:53:00',  6.668, 0.332, 234.42, 28.8, 14., 34., 28.),
       ('15/1/2010', '20:49:00',  9.098, 0.49 , 236.35, 38.6, 18., 73., 18.),
       ('15/1/2010', '20:53:00',  7.824, 0.332, 235.85, 33.4,  9., 73., 17.),
       ('15/1/2010', '20:57:00',  6.422, 0.462, 237.35, 28. , 10., 52., 18.),
       ('15/1/2010', '21:05:00',  6.046, 0.24 , 238.79, 25.6, 11., 46., 18.),
       ('23/2/2010', '21:54:00',  6.134, 0.   , 231.97, 26.4,  0., 71.,  7.),
       ('23/2/2010', '21:58:00',  6.498, 0.074, 233.24, 27.8,  0., 72., 18.),
       ('23/2/2010', '22:02:00',  6.502, 0.072, 233.81, 27.8,  0., 73., 18.),
       ('2/5/2010', '19:09:00',  6.702, 0.048, 232.67, 29.2, 13., 71., 18.),
       ('2/5/2010', '19:13:00',  6.398, 0.054, 234.28, 27.4, 27., 73.,  0.),
       ('2/5/2010', '19:17:00',  6.412, 0.184, 232.29, 27.6, 26., 72.,  1.),
       ('26/5/2010', '19:16:00',  6.508, 0.212, 230.71, 28.2,  0., 69., 11.)],
      dtype=[('Date', '<U10'), ('Time', '<U8'), ('Global_active_power', '<f8'), ('Global_reactive_power', '<f8'), ('Voltage', '<f8'), ('Global_intensity', '<f8'), ('Sub_metering_1', '<f8'), ('Sub_metering_2', '<f8'), ('Sub_metering_3', '<f8')])